<%= flash[:error] %>

<form action="<%= houses_url %>" method="POST">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label>Address
    <input type="text" name="house[address]" value="<%= @house.address %>">
  </label>

  <input type="submit">
</form>
